.attach {

	 width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill {

	width: 50% !important;
    float: left;
}


.attach_1 {

	 width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill_1 {

	width: 50% !important;
    float: left;
}

.attach_2 {

	 width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill_2 {

	width: 50% !important;
    float: left;
}

.attach_3 {

     width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill_3 {

    width: 50% !important;
    float: left;
}

.attach_4 {

     width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill_4 {

    width: 50% !important;
    float: left;
}

.attach_5 {

     width: 50%;
    float: left;
    position: relative;
    margin: -31px 0px 0px 112px;
}

.bill_5 {

    width: 50% !important;
    float: left;
}

.space {

  width: 45%;
margin: 45px -292px 0px 185px;

    
    
}

.margin {

    width: 0%;
    margin: 0px -160px 0px 0px;

    
    
}

.trans {
    
    width: 18%;
    margin: 0px 0px 0px 600px;
}